/data/https-portal/ssl_certs
#/data/fess/opt/fess
/data/fess/var/lib/fess
/data/fess/var/log/fess
/data/fess/usr/share/fess/app/WEB-INF/plugin
/data/opensearch/usr/share/opensearch/data
/data/opensearch/usr/share/opensearch/config/dictionary
