/.env
/data/https-portal/ssl_certs
/data/fess/opt/fess/*
!/data/fess/opt/fess/system.properties.template
/data/fess/var/lib/fess
/data/fess/var/log/fess
/data/fess/usr/share/fess/app/WEB-INF/plugin
/data/fess/usr/share/fess/app/themes
/data/opensearch/usr/share/opensearch/data
/data/opensearch/usr/share/opensearch/config/dictionary
/data/semantic
