#system.properties
theme.default=semanticlens
suggest.document=true
suggest.searchlog=true
web.api.json=true
web.api.popularword=true
login.required=false
login.link.enabled=true
result.collapsed=false
crawling.incremental=true
crawling.thread.count=5
thumbnail.enabled=false
search.log=true
user.info=true
user.favorite=false
purge.searchlog.day=90
purge.suggest.searchlog.day=30
purge.joblog.day=90
purge.userinfo.day=90
day.for.cleanup=90
csv.file.encoding=UTF-8
append.query.parameter=false
ldap.memberof.attribute=memberOf
failure.countthreshold=-1
